
/*============
Common Section
============*/
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Montserrat', sans-serif;;
}
img{
  width: 100%;
  display: block;
}
h1, h2, h3, h4, h5{
  text-transform: capitalize;
  font-weight: 700;
}
h1{
  font-size: 60px;
 
}
h2{
  font-size: 40px;
  color: #707070;
}
h3{
  font-size: 36px;
  color: #707070;
}
h5{
  font-size: 28px;
}
p{
  font-size: 18px;
  color: #18191F;
}

.flex-area{
  display: flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap: nowrap;
}
.button-link a{
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  background: linear-gradient(to right, #A5D4EE, #0EAAF9);
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 30px;
}
.container{
  width: 90%;
  margin: 0 auto;
}
/*----------END----------*/


/*=========
Top Section
=========*/
.top-btm-margin{
  margin: 160px 0 100px;
}
.top-left{
  width: 55%;
  margin-top: 100px;
  
}
.top-right{
  width: 45%;
}
.top-title{
  /* margin-bottom: 40px; */
  color: #575757;
}
.top-title h1:nth-child(1){
  margin-bottom: 40px;
}
.top-title h1:nth-child(3){
  position: relative;
  width: 125%;
  margin-bottom: 40px;
}
.text-color{
  color: #A5D4EE;
}

.top-details p{
  color: #828282;
  font-size: 20px;
  margin-bottom: 100px;
}
/*----------END----------*/


/*===========
About Section
===========*/
.bacground{
  background-image: url(./images/bg-strong.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height: 900px;
  position: relative;
}
.about-items{
  width: 40%;
  position: absolute;
  top: 30%;
  left: 50%;
}
.about-title{
  margin-bottom: 30px;
}
.about-details{
  margin-bottom: 90px;
}
.about-details p{
  text-align: justify;
}
/*----------END----------*/


/*============
Recipe Section
============*/
.recipe-area{
  width: 63%;
  margin: 70px auto 40px;
  text-align: center;
}
.recipe-area p{
  margin-top: 30px;
  font-size: 20px;
}
.recipe-items{
  width: 45%;
  padding: 35px;
  box-shadow: 0 0 20px #cacaca;
  border-radius: 40px;
}
.recipe-img{
  overflow:hidden;
}
.recipe-img a img{
  border-radius: 25px;
}
.recipe-img a img:hover{
  transform: scale(1.1);
}
.recipe-details{
 margin: 30px 0 55px;
}
.recipe-details h5{
  margin-bottom: 10px;
}
.recipe-details p{
  margin-bottom: 40px;
}
/*----------END----------*/


/*==============
Follower Section
==============*/
.follower-area{
  margin: 120px 0;
  padding: 80px 180px;
  box-shadow: 0 0 20px #cacaca;
  border-radius: 20px;
  text-align: center;
}
.follower-items p:first-child{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 8px;
}
/*----------END----------*/


/*============
Footer Section
============*/
footer{
  background-color: #0B0D17;
  
}
.footer-area{
 text-align: center;
 padding: 35px 0 115px;
}
.footer-area h4{
  color: #5B5B5B;
  font-size: 30px;
  margin-bottom: 35px;
}
.footer-area p{
  color: #fff;
  font-size: 16px;
}
.after-effect::after{
  content: 'Habit';
}
.before-effect::before{
  content: 'Healthy';
}
/*----------END----------*/